#ssylka {
    margin: 200px auto;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 150px;
    border-radius: 100%;
    background-color: skyblue;
    box-shadow: 0  0 40px rgb(105, 105, 105);
    animation: anim2 1s;
    transition: transform 1s, box-shadow 1s, background-color 1s;
}
#ssylka:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 10px  rgb(105, 105, 105);
    background-color: rgb(223, 108, 73);
}
